body {
    color: #06113C;
    background-color: #faf8e7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav a {
    color: #3404ba;

}
nav a:hover {background-color: #B9F8D3;}

a {
    color: #3f038d;
  }
a:hover {
    color: #89ebff;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
}
h1,h2 {
    color: #2354f7;
}
.evenrow{
    background-color: lightpink;
}
@media only screen and (max-width: 768px) {
                
    span {display:none;}
    nav a {width: 100%; margin-bottom: 5px; display: block;}
    
}