body {
    color: #533E85;
    background-color: #FAEEE7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    color: #FF6363;
  }
a:hover {
    color: #3dfc03;
}
a:nav {
    color: #F7FF93;
}

a:visited {
    color: #ff00f2;
}
h1{
    font-size: 2em;
}
.evenrow{
    background-color: lightpink;
}