nav {
    padding: 15px;
    margin: 15px;
}
nav a {
    color: black;
    font-weight: 600;
    font-size: large;
}
nav a:hover {
    color: #e32929;
  }
nav input[type=text], .searchtab {
    float: right;
    padding: 8px;
    border: none;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #191919;
    margin-top: 8px;
    margin-right: 16px;
    font-size:medium;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #111619;
    background-color: #FFF2F2;
}
p {
    font-size:large;
}



footer {
    background-color: #FAD4D4;
    padding: 20px;
}
.row1, .row2 {
    display: flex;
    justify-content: center;
    padding: 24px;
}
.link1, .link2 {
    padding: 12px;
    margin-left: 40px;
    flex-basis: 20%;
    text-align: center;
}

.sitename {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    flex-basis: 20%;
}
.row3 {
    text-align: center;
}
.footerimg {
    width: 2%;
    padding-right: 5px;
}
.navlink1, .navlink2, .navlink3 {
    margin-right: 10px;
    margin-left: 10px;
}
header {
    display: flex;
    justify-content: center;
    padding: 60px;
    background-color: #FAD4D4;
}
.headertext {
    margin: auto;
    padding: 15px;
    padding-right: 40px;
    flex-basis: 45%;
}
.banner {
    max-width: 90%;
    flex-basis: 60%;
    margin: auto;
    border-radius: 1em;
}
.bannerimg {
    text-align: center;
    margin: auto;
}
.intro {
    padding: 120px;            
    margin:auto;
    text-align: center;
}
.headline {
    text-align: center;
}
.category {
    display: flex;

}
.content {
    padding: 40px;
    margin: auto;
}
.btn {
    border: 2px solid #594545;
    border-radius: 5px;
    background-color: #FFEBCC ;
    padding: 8px;
    margin: auto;    width: 30%;
}
.lolhome, .crhome, .wdhome {
    padding: 20px;
    margin: auto;
}
.pubghome, .zeldahome {
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
}

img {
    max-width: 100%;
}

#skip {
    background-color: #e49d9d;
    border: 1px solid black;
    padding: 6px;
    position: absolute; /* out of page flow for layout */
    left: -999px;
    }
#skip:focus {
    left: 10px;
    top: 60px;
    }


@media only screen and (max-width: 800px) {
header {flex-wrap: wrap;}
.headertext {
    flex-basis: 85%;
}
.lolhome, .crhome, .wdhome {flex-basis: 75%;}
.pubghome, .zeldahome {flex-basis: 75%;}
.category {
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 80px;
}
.content {flex: 1;}
}

@media only screen and (min-width: 801px) {
header {flex-wrap: nowrap;}
.headertext {
    flex-basis: 45%;
}
.lolhome, .crhome, .wdhome {flex-basis: 34%;}
.pubghome, .zeldahome {flex-basis: 26%;}
.category {
    flex-wrap: nowrap;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 120px;
}
.content {flex-basis: 50%;}
}
@media only screen and (max-width: 800px) {
    span {display: none;}
    nav a {width: 100%; margin-bottom: 16px; display: block;}
}