nav {
    padding: 15px;
    margin: 15px;
}
nav a {
    color: black;
    font-weight: 600;
    font-size: large;
}

nav input[type=text] {
    float: right;
    padding: 8px;
    border: none;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #191919;
    margin-top: 8px;
    margin-right: 16px;
    font-size:medium;
  }

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #111619;
    background-color: #FFF2F2;
}
p {
    font-size:large;
}



footer {
    background-color: #FAD4D4;
    padding: 20px;
}
.row1, .row2 {
    display: flex;
    justify-content: center;
    padding: 24px;
}
.link1, .link2 {
    padding: 12px;
    margin-left: 40px;
    flex-basis: 20%;
    text-align: center;
}

.sitename {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    flex-basis: 20%;
}
.row3 {
    text-align: center;
}
.footerimg {
    width: 2%;
    padding-right: 5px;
}
@media only screen and (max-width: 800px) {
    span {display: none;}
    nav a {width: 100%; margin-bottom: 16px; display: block;}
}